.banner{
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.1);
}

.banner-content{
  margin-left: 50px;
}

.banner p{
  margin-bottom: 50px;
}
