.card{
  box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
  width: 400px;
  height: 300px;
  text-align: center;
  padding-bottom: 40px;
}

.card p{
  margin-bottom: 50px;
}

.card-image{
  margin-top: 20px;
}
